h1 {
  text-align: center;
}

p {
  font-size: 1.1rem;
  max-width: 800px;
}

.line {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 800px;
  margin-top: 20px;
}

.line > div {
  background-color: var(--color-text);
  height: 1px;
  flex: 1;
}